.hero-wrapper {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  color: white;
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/images/gc12.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
} 